.cart {
    position: absolute;
    top: 0;
    right: -600px;
    height: calc(100vh - 80px);
    width: 600px;
    padding: 3rem;
    background: linear-gradient(155deg, #DB5DA5, #E38050);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    animation: slide-in 400ms forwards;
    animation-delay: 100ms;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.cart.closing {
    animation: slide-out 400ms backwards;
    animation-delay: 100ms;
}

@keyframes slide-in {
    0% { right: -600px; }
    100% { right: 0; }
}

@keyframes slide-out {
    0% { right: 0; }
    100% { right: -600px; }
}

.overlay {
    display: flex;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    height: calc(100vh - 80px);
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    animation: fade-in 500ms forwards;
}

.overlay.closing {
    pointer-events: none;
    animation: fade-out 500ms forwards;
}

@keyframes fade-in {
    0% { background-color: rgba(0, 0, 0, 0); }
    100% { background-color: rgba(0, 0, 0, .7); }
}

@keyframes fade-out {
    0% { background-color: rgba(0, 0, 0, .7); }
    100% { background-color: rgba(0, 0, 0, 0); }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__button {
    color: white;
    font-size: 36px;
    cursor: pointer;
    background: linear-gradient(to right, #E38050, #E72203);
    border: none;
    border-radius: .5rem;
    padding: .5rem 2rem;
    align-self: center;
}

.center {
    text-align: center;
}

