.bottom-main {
    height: 85%;
    margin-top: 3rem;
    border-top: 1px solid black;
    border-left: 1px solid black;
    overflow-y: scroll;
}

.bottom-main::-webkit-scrollbar {
    width: 1rem;
}

.bottom-main::-webkit-scrollbar-track {
    background: white;
    border-radius: 100vw;
}

.bottom-main::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #D85DA5, #E38050);
    border-radius: 100vw;
}

.bottom-main::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #a0457a, #9c5836) 
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

@media (max-width: 1600px) {
   .products {
        grid-template-columns: repeat(3, 300px);
   } 
}