.more-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 6rem;
    color: white;
    height: calc(100vh - 80px);
    background-color: black;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 64px;
    margin: 0;
}

.list {
    margin: 0;
}

.info {
    font-size: 24px;
    font-weight: bold;
    margin: 1rem 0;
}

.price {
    font-size: 48px;
    margin: 0;
}

.button {
    color: white;
    font-size: 36px;
    width: fit-content;
    cursor: pointer;
    background: linear-gradient(to right, #FE8828, #E72203);
    border: none;
    border-radius: .5rem;
    padding: .5rem 2rem;
}

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; 
    padding-top: 2rem;
}

.img-container {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: .5rem;
}

.img {
    width: 400px;
    height: 400px;
    padding: 25px;
    object-fit: contain;
}

.ammount-container {
    width: fit-content;
    display: flex;
    align-items: center;
    border: solid black 1px;
    border-radius: .5rem;
    background-color: white;
    color: black;
}

.ammount {
    font-size: 48px;
    margin: 0 6rem;
}

.ammount__button {
    font-size: 48px;
    padding: .2rem 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.minus {
    border-right: solid black 1px;
}

.plus {
    border-left: solid black 1px;
}

.img-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 3rem;
}

.img-card-container {
    height: 156px;
    width: 156px;
    border-radius: .5rem;
    border: 6px solid white;
    background-color: white;
}

.img-card {
    height: 150px;
    width: 150px;
    padding: 10px;
    cursor: pointer;
}

.main-img {
    display: flex;
    align-items: center;
    gap: 50px;
}

.arrow-right,
.arrow-left {
    height: 100px;    
    width: 100px;
    cursor: pointer;
}

.arrow-left {
    transform: rotate(180deg);
}

.current-img {
    /* border-width: 2rem;
    border-style: solid;
    border-image: linear-gradient(to right, orange, red) 1; */
    background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, orange, red) border-box;
    border: 6px solid transparent;
}